
.sender a,
.sender span,
.recipient img,
.recipient a,
.recipient span {
    padding-left: .3em;
}

.completion {
    padding-top: 2px;
}

.completion > input {
    float: left;
    width: 60%;
}

.invalidContact {
    background-color: #F2DEDE;
    color: #B94A48;
}

#mailStatusReport span.success {
    background: url(../images/success.png) no-repeat 0 50%;
    display: block;
    line-height: 128px;
    padding-left: 137px;
}
